@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-size: 62.5%;
}

/* For Firefox */
input:-moz-autofill {
  -moz-box-shadow: none !important;
}

/* CHANGE DEFAULT STYLE ON AUTO FILL INPUT FIELD */
@supports (-ms-ime-align: auto) {
  input:-ms-input-placeholder,
  input::-ms-clear {
    background-color: transparent !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(108, 108, 108) !important;
  background-color: var(--tw-color-gray-200) !important;
  transition: background-color 5000s ease-in-out 0s;
}
input::selection {
  background-color: transparent;
}

@tailwind base;

* {
  @apply box-border;
}
input::-ms-reveal {
  @apply hidden;
}
input::-ms-clear {
  @apply hidden bg-transparent;
}
body {
  @apply font-poppins text-[16px] tracking-wider text-appBlack/80 selection:bg-brand selection:text-white bg-appWhite;
}
@tailwind components;

@tailwind utilities;
